.page-header {
  &.has-header-background {
    .page-header-inside {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }
}
