@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    // Font Size
    --ang--global--font-size-sm: 0.875rem; /* 14/16 */
    --ang--global--font-size-base: 1rem; /* 16/16 */
    --ang--global--font-size-lg: 1.125rem; /* 18/16 */

    // Colors
    --ang--primary: #253570;
    --ang--primary-foreground: #ffffff;
    --ang--secondary: #415a94;
    --ang--secondary-foreground: #ffffff;
    --ang--accent: #ff7f50;
    --ang--neutral: #111013;
    --ang--base-100: #F7F7F8;
    --ang--base-200: #f3f3f3;
    --ang--info: #3b82f6;
    --ang--success: #4c6fb5;
    --ang--warning: #f59e0b;
    --ang--error: #ff0000;

    --ang--cream: #FEF9EF;
    --ang--frost-gray: #F7F7F8;
    --ang--light-gray: #eeeeee;
    --ang--black: #000;
    --ang--white: #fff;

    --ang--global--color-white: rgb(255, 255, 255);
    --ang--global--color-white-90: rgba(255, 255, 255, 0.9);
    --ang--global--color-background: var(--ang--frost-gray);

    // Font Family
    --ang--font-family--dm-sans: "DM Sans";
    --ang--font-family--inter: "Inter";

    // Spacing
    --ang--global--spacing-unit: 20px;
    --ang--global--spacing-horizontal: 24px;

    // Line Height
    --ang--global--line-height-body: 1.7;


    // Forms
    --ang--form--font-size: var(--ang--global--font-size-sm);
    --ang--form--font-weight: 500;
    --ang--form--border-color: rgba(0, 0, 0, 0.20);
    --ang--form--border-radius: 1.875rem; /* 30/16 */
    --ang--form--textarea-border-radius: 1.5625rem; /* 25/16 */
    --ang--form--color-text: #28303d;
    --ang--form--color-ranged: var(--ang--secondary);
    --ang--form--spacing-unit: calc(1 * var(--ang--global--spacing-unit));
    --ang--form--background: var(--ang--base-100);

    // Buttons
    --border-btn: 1px;
    --rounded-btn: 1.9rem;

    --ang--transition-base: all 200ms ease-in-out 0ms;
    --ang--transition-cubic-bezier: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }

  html, body {
    @apply scroll-smooth;
  }

  body {
    background-color: var(--ang--primary-foreground);
    @apply text-base;
  }
}

[data-theme="mytheme"] .btn {
  border-radius: var(--rounded-btn, .5rem);
}


.page-content,
.project-content {

}

.entry-content {
  h2, h3 {
    @apply text-3xl font-bold font-heading;
  }

  p {
    @apply mt-4;
  }

  p,
  ul li,
  ol li {
    @apply text-xl font-extralight;
  }

  .wp-block-list {
    padding-left: 20px;

    li {
      padding: 2px 0 2px 12px;

      &::marker {
        content: '—';
        display: inline-block;
        margin-left: 8px;
      }
    }
  }
}
