@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ang--primary: #253570;
    --ang--primary-foreground: #ffffff;
    --ang--secondary: #415a94;
    --ang--secondary-foreground: #ffffff;
    --ang--accent: #ff7f50;
    --ang--neutral: #111013;
    --ang--base-100: #F7F7F8;
    --ang--info: #3b82f6;
    --ang--success: #4c6fb5;
    --ang--warning: #f59e0b;
    --ang--error: #ff0000;

    --ang--cream: #FEF9EF;
    --ang--frost-gray: #F7F7F8;
    --ang--light-gray: #eeeeee;
    --ang--black: #000;
    --ang--white: #fff;

    --ang--font-family--dm-sans: "DM Sans";
    --ang--font-family--inter: "Inter";

    // Buttons
    --border-btn: 1px;
    --rounded-btn: 1.9rem;

    --ang--transition-base: all 200ms ease-in-out 0ms;
    --ang--transition-cubic-bezier: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }

  html, body {
    @apply scroll-smooth;
  }

  body {
    background-color: var(--ang--primary-foreground);
    @apply text-base;
  }
}

[data-theme="mytheme"] .btn {
  border-radius: var(--rounded-btn, .5rem);
}


.page-content,
.project-content {

}

.entry-content {
  h2, h3 {
    @apply text-3xl font-bold font-heading;
  }

  p {
    @apply mt-4 text-xl font-extralight;
  }
}
